#abba{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:purple;

}

h2{
    text-align: right;
    color: darkblue;
}

#btn{
    border-radius: 25px;
    color: black;
    border-color: blue;
    background-color: plum;
}

input{
    border-color: violet;
    border-radius: 40px;
}

::placeholder{
    color: crimson;
}









